---
import { Image } from 'astro:assets'
import buildImage from '@/img/build.jpg'
import cactusImage from '@/img/cactus.jpg'
import asanaImage from '@/img/asana.jpg'
import jaguarImage from '@/img/jaguar.jpg'
import womanImage from '@/img/woman.jpg'

import BaseLayout from '@/layouts/BaseLayout.astro'
import PageHeader from '@/components/PageHeader.astro'

const pageTitle = 'Projects'
const projects = [
    {
        name: 'Personal Blog & Portfolio',
        description:
            'A minimalist, statically generated personal website featuring a modern blog layout and responsive design.',
        year: 2025,
        url: 'https://www.armandoborge.com',
        image: buildImage,
    },
    {
        name: 'Melisa Redondo – Designer & Brand Strategist',
        description:
            'A custom multilingual portfolio and personal brand showcase for a creative professional with an international client base.',
        year: 2024,
        url: 'https://www.melisaredondo.com',
        image: cactusImage,
    },
    {
        name: 'Tribu Yoga – SaaS Platform',
        description:
            'A wellness-focused SaaS application designed to manage yoga studios, streamline class scheduling, and support studio operations.',
        year: 2021,
        url: 'https://www.tribu.yoga',
        image: asanaImage,
    },
    {
        name: 'La Candidieta – Health & Wellness App',
        description:
            'A health app designed to help women recover from Candidiasis through guided nutrition, practical recipes, and sustainable lifestyle tips.',
        year: 2020,
        url: 'https://www.lacandidieta.com',
        image: womanImage,
    },
    {
        name: 'Tripping Cats – Minimal Landing Page',
        description:
            'A responsive, ultra-minimalist landing page built for Tripping Cats OÜ to establish a clean and professional online presence.',
        year: 2019,
        url: 'https://www.trippingcats.com',
        image: jaguarImage,
    },
]
---

<BaseLayout pageTitle={pageTitle}>
    <PageHeader title='Projects' showImage={false} />
    <div class='grid gap-4 md:grid-cols-2 lg:grid-cols-3'>
        {
            projects.map(({ name, year, description, image, url }) => (
                <article class='group dark:text-yin border-ajna/40 hover:border-ajna relative isolate flex max-h-200 flex-col justify-between gap-80 overflow-hidden rounded-sm border-[1px] border-dotted p-4'>
                    <Image
                        src={image}
                        alt={name}
                        width='1000'
                        height='1000'
                        class='absolute inset-0 -z-10 size-full object-cover grayscale-50'
                    />
                    <div class='group-hover:bg-yin/50 bg-yin/70 dark:group-hover:bg-yang/70 dark:bg-yang/90 absolute inset-0 -z-10 duration-300' />
                    <div class='relative'>
                        <p class='text-xs font-bold uppercase'>
                            <time datetime={year.toString()}>{year}</time>
                        </p>
                        <h2 class='mt-1 flex items-start justify-between gap-4 text-2xl font-light text-balance capitalize md:text-3xl lg:text-4xl'>
                            {name}
                        </h2>
                    </div>
                    <div class='flex flex-col gap-1'>
                        <p class='mt-2 text-base font-light text-balance'>
                            {description}
                        </p>
                        <a
                            href={url}
                            title={name}
                            target='_blank'
                            rel='noopener noreferrer'
                            class='text-sm font-medium'
                        >
                            <span class='absolute inset-0' />
                            {url}
                        </a>
                    </div>
                </article>
            ))
        }
    </div>
</BaseLayout>
