---
import WorkItem from '@/components/WorkItem.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import PageHeader from '@/components/PageHeader.astro'
import SideProfileImage from '@/components/SideProfileImage.astro'

const pageTitle = 'Work'
const positions = [
    {
        roleName: 'Principal Web Architect',
        companyName: 'Tribu Yoga',
        companyCountry: 'Tallinn, Estonia',
        fromYear: '2022',
        description:
            'Tribu Yoga is a SaaS platform for managing yoga studios, with operations across Latin America and Europe. I’m responsible for all technical strategy and execution. I lead the architectural design and implementation of scalable systems, making sure our tech decisions align with business goals. I collaborate closely with stakeholders and oversee the technical roadmap from idea to deployment.',
        url: 'https://www.tribu.yoga',
    },
    {
        roleName: 'Lead Cloud Architect',
        companyName: 'Airbank (Acquired by Pliant)',
        companyCountry: 'Berlin, Germany',
        fromYear: '2021',
        toYear: '2023',
        description:
            'Airbank was a Berlin-based fintech startup founded in 2021 focused on helping SMEs manage their cash flow and accounts in one place. The company was acquired by Pliant in 2023. I led all things related to cloud systems: From designing secure and scalable infrastructure using AWS and GCP, to coordinating penetration testing and monitoring. I worked closely with developers to deliver cloud-native, reliable systems.',
        url: 'https://www.getpliant.com',
    },
    {
        roleName: 'Co-Founder & CTO',
        companyName: 'Tripping Cats OÜ',
        companyCountry: 'Tallinn, Estonia',
        fromYear: '2019',
        description:
            'Tripping Cats is a digital product studio based in Estonia. I co-founded the company and handled architecture and development across projects, using tools like React, Serverless services, AWS and FaunaDB. I worked on defining technical strategy, product planning, and development cycles to deliver polished applications with a small remote all-stars team.',
        url: 'https://www.trippingcats.com',
    },
    {
        roleName: 'Senior Front-End Developer',
        companyName: 'Eleven Systems LLC',
        companyCountry: 'California, United States',
        fromYear: '2015',
        toYear: '2019',
        description:
            'Eleven Systems provides software for high-net-worth individuals to manage assets, messaging, and personal data. I built front-end architectures for complex web and mobile apps, using Angular, React, and Swift. I focused on code quality, security, and performance, and worked on CI/CD pipelines and maintainable codebases for various projects.',
        url: 'https://www.elevensystems.com',
    },
    {
        roleName: 'Senior Back-End / Front-End Developer',
        companyName: 'Alinean Inc.',
        companyCountry: 'Florida, United States',
        fromYear: '2012',
        toYear: '2015',
        description:
            'Alinean developed B2B sales enablement tools like ROI calculators and product comparison platforms, later acquired by Mediafly. I worked translating design specs into interactive front-end components, as part of the core development team, contributing to tools used by Fortune 500 clients.',
        url: 'https://www.mediafly.com',
    },
    {
        roleName: 'PHP Back-End / Front-End Developer',
        companyName: 'Cambio Agency LLC',
        companyCountry: 'Utah, United States',
        fromYear: '2012',
        toYear: '2013',
        description:
            'Cambio Agency is a U.S.-based digital agency focused on websites for small businesses. I worked translating PSDs into responsive, interactive pages and helped maintain and develop new features for their custom sales and inventory system. My focus was clean code and fast/modern user interfaces.',
        url: 'https://cambioagency.com',
    },
    {
        roleName: 'UI/UX Designer & Front-End Developer',
        companyName: 'Othos Telecomunicações',
        companyCountry: 'São Paulo, Brazil',
        fromYear: '2011',
        toYear: '2012',
        description:
            'Othos is a Brazilian telecom company offering VoIP solutions to businesses across Latin America and South Africa. I’ve partnered with engineers to build front-end interfaces that abstracted complex systems into simple, user-friendly dashboards, improving overall usability and adoption.',
        url: 'https://www.voipeasy.co.za',
    },
    {
        roleName: 'Full-Stack Developer',
        companyName: 'Mia Films Network',
        companyCountry: 'San José, Costa Rica',
        fromYear: '2008',
        toYear: '2010',
        description:
            'Mia Films developed a dating platform called Seat For Two. I joined as a Full-Stack Developer, creating MySQL schemas, building backend logic in PHP, and developing user-facing components. After the project launched successfully, a new company was formed for it, and I took on a leadership role in front-end development for the new venture.',
        url: 'https://miafilmsnetwork.com',
    },
]
---

<BaseLayout pageTitle={pageTitle}>
    <PageHeader title='Work Experience' />
    <div class='grid gap-10 lg:grid-cols-[auto_1fr]'>
        <SideProfileImage />
        <div class='space-y-16'>
            {
                positions.map((position) => (
                    <WorkItem
                        roleName={position.roleName}
                        companyName={position.companyName}
                        companyCountry={position.companyCountry}
                        fromYear={position.fromYear}
                        toYear={position.toYear}
                        description={position.description}
                        url={position.url}
                    />
                ))
            }
        </div>
    </div>
</BaseLayout>
