---
import { Image } from 'astro:assets'

const { project } = Astro.props
const { name, subtitle, year, description, image, url, urlText } = project
---

<article class='group dark:text-yin relative isolate flex flex-col justify-between gap-60 overflow-hidden p-4'>
    <Image
        src={image}
        alt={name}
        width='900'
        height='900'
        class='absolute inset-0 -z-10 size-full rounded-md object-cover grayscale-50'
    />
    <div
        class='group-hover:bg-yin/60 bg-yin/30 dark:group-hover:bg-yang/60 dark:bg-yang/30 absolute inset-0 -z-10 duration-200'
    >
    </div>
    <div class='relative'>
        <p class='text-xs font-bold uppercase'>
            <time datetime={year.toString()}>{year}</time>
        </p>
        <div class='mt-1'>
            <h2 class='text-2xl font-medium text-balance capitalize md:text-3xl'>
                {name}
            </h2>
            <h3 class='text-base font-light text-balance capitalize md:text-xl'>
                {subtitle}
            </h3>
        </div>
    </div>
    <div class='bg-yin/60 dark:bg-yang/60 -mx-4 -mb-4 flex flex-col gap-1 p-4'>
        <p class='mt-2 text-sm leading-relaxed text-balance'>
            {description}
        </p>
        <a href={url} title={name} target='_blank' rel='noopener noreferrer' class='text-ajna text-sm font-medium'>
            <span class='absolute inset-0'></span>
            {urlText}
        </a>
    </div>
</article>
