---
import { Image } from 'astro:assets'

const { project } = Astro.props
const { name, subtitle, year, description, image, url, urlText } = project
---

<article
    class='group dark:text-yin border-ajna/40 hover:border-ajna relative isolate flex max-h-150 flex-col justify-between gap-60 overflow-hidden rounded-sm border-[1px] border-dotted p-4'
>
    <Image
        src={image}
        alt={name}
        width='1000'
        height='1000'
        class='absolute inset-0 -z-10 size-full rounded-sm object-cover p-0.5 grayscale-50'
    />
    <div
        class='group-hover:bg-yin/80 bg-yin/60 dark:group-hover:bg-yang/80 dark:bg-yang/60 absolute inset-0 -z-10 duration-300'
    >
    </div>
    <div class='relative'>
        <p class='text-xs font-bold uppercase'>
            <time datetime={year.toString()}>{year}</time>
        </p>
        <div class='mt-1'>
            <h2 class='text-2xl font-medium text-balance capitalize md:text-3xl'>
                {name}
            </h2>
            <h3 class='text-base font-light text-balance capitalize md:text-xl'>
                {subtitle}
            </h3>
        </div>
    </div>
    <div class='flex flex-col gap-1'>
        <p class='mt-2 text-sm leading-relaxed text-balance'>
            {description}
        </p>
        <a href={url} title={name} target='_blank' rel='noopener noreferrer' class='text-sm font-medium'>
            <span class='absolute inset-0'></span>
            {urlText}
        </a>
    </div>
</article>
