---
import BaseLayout from '@/layouts/BaseLayout.astro'

const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>{frontmatter.pubDate.toLocaleDateString()}</p>
    <p>
        <em>{frontmatter.description}</em>
    </p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width='300' alt={frontmatter.image.alt} />
    <div
        class='prose dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-sm prose-headings:underline'
    >
        <slot />
    </div>
</BaseLayout>
